* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

label, input {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

button {
    font-size: 1rem;
}

#lightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

#cdb-inputcontainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35rem;
    transform: translate(-50%,-50%);
    padding: 0.5rem;
    background-color: #FFFFFF;
}

#cdb-inputtext {
    margin-left: 0.5rem;
    width: 31.5rem;
}

#instructions {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 20rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
    z-index: 2;
}

#render {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
